/* Main Grid*/
#left { grid-area: left;}
#tank { grid-area: tank; }
#right { grid-area: right;}
#facts { grid-area: fact; }

@font-face {
  font-family: "balloon";
  src: url('../assets/Balloons-YYVy.ttf') format('truetype');
}
@font-face {
  font-family: "round";
  src: url('../assets/round.woff') format('woff');
}
html{
  background-color: #ece0d7;
}
html, body {
  width: 100%;
  height: 49vw;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../assets/aquariumBeach.png');
  background-image: url('../assets/aquariumBeach.png');
  background-size: 100vw; /* Add this line */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; 
  font-family: "round", Arial, Helvetica, sans-serif;
}
.aquarium {
  display: grid;
  grid-template-columns: 17% 64% 17%;
  grid-template-areas:
    'left tank right'
    'left fact right';
  gap: 10px;
}

#facts{
  font-size : clamp(1rem, 1.5vw, 2rem);
}

.aquarium > div {
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
  border-width: 4px;
}

.aquarium > div > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/* Main Grid Done */

/*Side Tanks*/
#title {
  position: absolute;
  left: 50%;
  top:8%;
  transform: translate(-50%, -50%);
  grid-area: title;
  font-family: "balloon", Arial, Helvetica, sans-serif;
}
#tL { grid-area: topL; }
#tR { grid-area: topR; }
#dL { grid-area: downL; }
#dR { grid-area: downR; }

.sidebarGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'title title'
    'topL topR'
    'downL downR';
  gap: 10px;
  padding: px;
  justify-content: space-evenly;
}


.sidebarGrid > div {
  position: relative;
  left: 25%;
  height: 50px;
  width: 50px;
  padding: 15px 0;
}

.sidebarGrid > div >img{
  height: 50px;
  width: 50px;
}
/* Side Tank Done */


h1 {
 font-size: clamp(1rem, 5vw, 5rem);
 text-align: center;
}

.box{
  scale: 170%;
  background-image: url('../assets/bag.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box img{
  scale: 50%;
}

#play button:hover {
  background-color: #455aa0; /*  blue color on hover */
}

#instrumentsIn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#drumsIn {
    grid-area: 1 / 1 / 2 / 2; /* top-left corner */
}

#guitarIn {
    grid-area: 1 / 2 / 2 / 3; /* top-right corner */
}

#keysIn {
    grid-area: 2 / 1 / 3 / 2; /* bottom-left corner */
}

#bassIn {
    grid-area: 2 / 2 / 3 / 3; /* bottom-right corner */
}

#tank{
  position: relative;
}
.tank {
  position: relative;
  width: 100%; /* Adjust this to your tank image size */
  height: 100%; /* Adjust this to your tank image size */
}

#fishtank {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  scale:80%;
}

#backtank {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  scale: 80%;
}

#instrumentsIn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#drumsIn, #guitarIn, #keysIn, #bassIn {
  z-index: 2;
  position: relative;
  width: 19%; /* Adjust these dimensions according to your needs */
  height: 100%; /* Adjust these dimensions according to your needs */
  display: flex;
  justify-content: center;
  align-items: center;
}

#drumsIn img, #guitarIn img, #keysIn img, #bassIn img {
  max-width: 50%;
  max-height: 50%;
}

.invisible img{
  opacity: 0;
}

#fishfact{
  position:relative;
  justify-content:center;
  align-items: center;
  top: -5vw;
  left: 10%;
  z-index: 4;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#FishFactName{
  font-size: 1.4em;  /* Adjust as desired */
  font-weight: bold;  /* Makes the text thicker */
}

#Volume {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 150px;
  padding: 5px;
}

#volume-slider {
  width: 100%;
}

#Volume h2{
  text-align: center;
}

